* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #0c073a;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #4B6982;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.profile .profile-image {
    width: 100%;
    border-radius: 100%;
}

.phone-image {
    width: 10%;            
}

.email-image {
    width: 15%;        
}

.site-image {
    width: 10%;
}

.GitHub-image {
    width: 10%;
}

.name {
    color: #D6DBDF;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.occupation {
    color: #d8ee11;
    font-size: 14px;
    font-weight: bold;    
    text-transform: uppercase;
    text-align: left;    
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    padding-top: 2rem;
    text-transform: uppercase;    
    color: #d8ee11;
    font-weight: bold;
    font-size: 20px;
}

.contact-info ul {
    padding-top: 1rem;
    padding-block: 1.2rem;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #eeeeee;
}

.skills ul {
    color: #d8ee11;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5rem;   

}
.skills ul li p {    
    
    padding: .4rem 0;
    color: #eeeeee;
}

.right-section-contents {
    padding: 2rem 2rem;
    
}

.right-section {
    background-color: rgb(57, 59, 92);
}

.right-title {
    color: #70C6C7;   
    font-size: 40px; 
    padding-bottom: 1.5rem;  
    padding-block: 3rem;
    text-transform: bold;
    text-transform: uppercase; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif                     
}


.gap {
    padding-bottom: 2rem;
    color: #d8ee11;
    font-size: 20px;
    letter-spacing: 0.09rem;    
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: #0c073a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.about-me-contents {
    font-size: 18px;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name {
    color: #d8ee11;
    font-size: 20px;
    letter-spacing: 0.09rem;    
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: #0c073a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.awards-company-name {
    color: #d8ee11;
    font-size: 25px;
    font-weight: bold;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
}

.exp-position {
    color:#d8ee11;
    font-size: 20px;               
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.education-subject {
    color:#d8ee11;
    font-size: 20px;               
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.awards-name {
    font-size: 25px;
    color: #d8ee11;
    font-family: Arial, Helvetica, sans-serif;
    
}

.exp-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: initial;
}
.education-desc {
    color: #eeeeee;
    padding-top: 1mm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.awards-desc {
    font-size: 16px;
    padding-left: 5px;
}